{% extends 'account/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            My Classroom
            <small>View, current grading status</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-book"></i> Grading Service
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Start Grading</h1>
			    <p>
			    Upload PDF type of test papers. It can be based grading service,
			    check the grading status at table.
			    </p>
			    <p><a onclick="popup_publication_modal(0);"
			               id="publish_0_btn"
			             name="publish_0_btn"
			            class="btn btn-primary btn-lg"
			             role="button">Upload File »</a>
			    </p>
            </div>                        
        </div>
        
        {% include "publisher/my_publication/table.html" %}
    </div><!-- /.col-sm-12 -->
    
</div><!-- /.row -->


<!-- Modal -->
<div id="ajax_modal"
   name="ajax_modal"></div>
<!-- end modal -->

{% include 'publisher/my_publication/js.html' %}
{% endblock content %}
